@model Reposit.Models.Category
@*Will need to grab Model.Snippets as an IEnumerable*@

@{
    string quoteName = $"\"{@Model.Title}\"";
    ViewData["Title"] = @Model.Title;
    ViewData["Description"] = $"All snippets belonging to the {quoteName} category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h4>Add snippets</h4>
<p>
    <a asp-controller="FullSnippets" asp-action="Create" asp-route-id="@Model.ID">Create new snippet</a> |
    <a asp-controller="FullSnippets" asp-action="Browse" asp-route-id="@Model.ID">Browse Snippet Library</a>
</p>
<div>
    <h4>Snippets</h4>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date
            </th>
            <th>
                Code
            </th>
            <th>
                Language
            </th>
            <th>
                Notes
            </th>
            <th>
                Author
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Snippets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeBody)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="FullSnippets" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-controller="FullSnippets" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-controller="FullSnippets" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>