@model Reposit.Models.Category
@*Will need to grab Model.Snippets as an IEnumerable*@

@{
    string quoteName = $"\"{@Model.Title}\"";
    ViewData["Title"] = @Model.Title;
    ViewData["Description"] = $"All snippets belonging to the {quoteName} category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<p>
    <a asp-controller="FullSnippets" asp-action="Create" asp-route-id="@Model.ID"><h6 class="d-inline">Create new snippet</h6></a>
    <a asp-controller="FullSnippets" asp-action="Browse" asp-route-id="@Model.ID"><h6 class="d-inline">Browse Snippet Library</h6></a>   
</p>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model.Snippets)
        {
            <div class="col-md-4 mb-5">
                <div class="p-4 preview-cards position-relative h-100">
                    <h4>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h4>
                    <span class="badge badge-primary mb-4" id="@Html.DisplayFor(modelItem => item.Language)">
                        @Html.DisplayFor(modelItem => item.Language)
                    </span>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Notes)
                    </p>
                    <a asp-action="Details" asp-controller="FullSnippets" asp-route-id="@item.ID"><div class="btn btn-primary card-button">Details</div></a>
                </div>
            </div>
        }
    </div>
</div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
