@model Reposit.Models.Category

@*Will need to grab Model.Snippets as an IEnumerable*@ 

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>



<p>
    <a asp-controller="FullSnippets" asp-action="Create">Create New</a>
    <a asp-action="Index" asp-controller="FullSnippets">Browse Snippet Library</a>
    <a asp-controller="Categories" asp-action="Index">Back to List</a>
</p>
<div>
    <h4>Snippets</h4>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model.Snippets)
        {
            <div class="col-md-3 preview-cards ml-5 mb-5">
                <h4>
                    @Html.DisplayFor(modelItem => item.Title)
                </h4>
                <h6>
                    @Html.DisplayFor(modelItem => item.Author)
                </h6>
                <span class="badge badge-primary mb-4" id="@Html.DisplayFor(modelItem => item.Language)">@Html.DisplayFor(modelItem => item.Language)</span>
                <p>
                    @Html.DisplayFor(modelItem => item.Notes)
                </p>
                <p>
                    <a asp-action="Edit" asp-controller="FullSnippets" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-controller="FullSnippets" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-controller="FullSnippets" asp-route-id="@item.ID">Delete</a>
                </p>
            </div>
        }
    </div>
</div>
<div>
    
</div>
