@model Reposit.Models.ViewModel

@{
    ViewData["Title"] = "Browse";
    ViewData["Description"] = "Add a Snippet from the API to your Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

<h2>Snippets</h2>
<p>
    <a asp-action="Details" asp-controller="Categories" asp-route-id="@Model.CategoryID">Back to category</a> |
</p>
<div class="container-fluid">
    <form method="post">
        <label>Search by Title:</label>
        <input type="text" placeholder="Enter search term here" name="searchTerm" />
        <input type="hidden" name="id" value="@Model.CategoryID"/>
        <button type="submit">Search</button>
    </form>

    <div class="row">

        @foreach (var thing in Model.AllSnippets)
        {
            <div class="col-md-3 preview-cards ml-5 mb-5">
                <h4>
                    @Html.DisplayFor(modelItem => thing.Title)
                </h4>
                <span class="badge badge-primary mb-4" id="@Html.DisplayFor(modelItem => thing.Language)">@Html.DisplayFor(modelItem => thing.Language)</span>

                <p class="card-text">
                    @Html.DisplayFor(modelItem => thing.Notes)
                </p>
                <p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary card-button" data-toggle="modal" data-target="#@("snippet" + count)">
                        View Details
                    </button>
                </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="@("snippet" + count)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                           
                            <h5 class="modal-title" id="exampleModalLongTitle">@Html.DisplayFor(modelItem => thing.Title)</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(modelItem => thing.Title)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => thing.Title)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(modelItem => thing.Date)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => thing.Date)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(modelItem => thing.CodeBody)
                                </dt>
                                <dd>
                                    <pre class="CodeSnippet"><code>
                                    @Html.DisplayFor(modelItem => thing.CodeBody)
                                        </code>
                                    </pre>
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(modelItem => thing.Language)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => thing.Language)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(modelItem => thing.Notes)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => thing.Notes)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(modelItem => thing.Author)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(modelItem => thing.Author)
                                </dd>
                            </dl>
                        </div>
                        <div class="modal-footer">
                            @await Html.PartialAsync("_AddToCategory", thing, new ViewDataDictionary(ViewData) { { "CategoryID", Model.CategoryID } })
                        </div>
                    </div>
                </div>
            </div>
            count++;
                            }
    </div>

</div>



                @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
