@model Reposit.Models.FullSnippet

@{
    ViewData["Title"] = @Model.Title;
    ViewData["Description"] = $"Created by { @Model.Author }.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Html.DisplayFor(model => model.Title)</h2>*@

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category.Title)
                </dd>
            </div>
            <div class="col-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
            </div>
        </div>
    </div>



    <hr />

    <div class="row">
        <div class="col-sm-8">
            <div>
                <span class="badge badge-primary mb-4" id="@Html.DisplayFor(model => model.Language)">@Html.DisplayFor(model => model.Language)</span>

            </div>
            <dt class="text-center">
                Code Body
            </dt>
            <dd>
                <pre class="CodeSnippet"><code>
            @Html.DisplayFor(model => model.CodeBody)
                </code>
            </pre>
            </dd>
        </div>
        <div class="col-sm-4">

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </div>
    </div>
    <dl class="dl-horizontal">

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryID">Back to List</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
</div>
