@model Reposit.Models.FullSnippet

@{
    ViewData["Title"] = @Model.Title;
    ViewData["Description"] = $"Created by: \"{ @Model.Author }\".";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Html.DisplayFor(model => model.Title)</h2>*@

<div>
    <div class="container">

        <div class="row">
            <div class="col-sm">
                <span class="badge badge-primary mb-4" id="@Html.DisplayFor(model => model.Language)"><h6>@Html.DisplayFor(model => model.Language)</h6></span>
            </div>
            <div class="col-sm">
                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category.Title)
                </dd>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-8">
            <dd>
                <pre id="CodeSnippet">
                <code>
                        @Html.DisplayFor(model => model.CodeBody)
                    </code>
                </pre>
                <textarea class="snip">@Html.DisplayFor(model => model.CodeBody)</textarea>
            </dd>
        </div>
        <div class="col-sm-4">
            <div>
                <dt>
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            </div>
            
            <button class="btn btn-secondary copyButton">Copy Snippet!</button>
        </div>
    </div>
    <dl class="dl-horizontal"></dl>
    <div class="row mb-4">
        <div class="col-sm-12 text-center">
            <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model.CategoryID"><h6 class="d-inline">Back to '@Model.Category.Title'</h6></a>
            <a asp-action="Edit" class="ml-4" asp-route-id="@Model.ID"><h6 class="d-inline">Edit</h6></a>
            <a asp-action="Delete" class="ml-4" asp-route-id="@Model.ID"><h6 class="d-inline">Delete</h6></a>
        </div>
    </div>
</div>
